@use '../../../index' as root;
@use '../../../assets/flexbox';
@use '../../../assets/breakpoint';

.container.header {
  z-index: 999;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center end;
  justify-content: space-between;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 5em;
  background: root.$color-background-component;

  padding: 0 1em;

  .wrapper.brand {
    @include flexbox.simple();
    width: 100%;

    img {
      display: block;
      width: 55px;
    }

    figcaption {
      color: root.$color-font-light;
      font-size: 1.1em;
      font-weight: bold;
      text-transform: capitalize;

      &::after { content: '.'; }
    }
  }

  .wrapper.search {
    position: relative;
    margin-right: .3rem;

    #input_search {
      color: root.$color-font-light;
      width: 10em;
      height: 2.2em;
      border: none;
      outline: none;
      padding: 0 .5em 0 2.2em;
      font-size: 1em;
      border-radius: 3px;
      background: rgba(34, 32, 35, 1);

      &::placeholder {
        font-size: 1em;
        text-transform: capitalize ; 
      }

      &:hover {
        border: .5px solid root.$color-font-dark;
      }
    }

    form svg {
      position: absolute;
      top: 50%;
      left: 9px;
      color: root.$color-font-dark;
      font-size: 1.3em;
      transform: translateY(-50%);
    }
  }
  
  .wrapper.button-header {
    @include flexbox.simple(center, center);
    gap: 0 .5em;

    button {
      color: root.$color-font-light;
      border: .5px solid root.$color-default;
      padding: .6em 1.3em;
      font-size: .9em;
      text-transform: capitalize;
      border-radius: 3px;
      background: root.$color-default;

      &:last-child {
        border: .5px solid root.$color-font-light;
        background: transparent;
      }
    }
  }

  .wrapper.hamburger {
    color: root.$color-default;
    font-size: 2.5em;

    svg { display: block; }
  }
}

@include breakpoint.mobile {
  // zona khusus hidden element 

  .wrapper.brand figcaption,
  .wrapper.search,
  .wrapper.button-header,
  .container.navbar-section {
    display: none !important;
  }
  // -------------------------

  .container.header {
    grid-template-columns: auto 1fr;
  }
}

@include breakpoint.landscape {
  .wrapper.brand figcaption {
    display: block !important;
  }
}

@include breakpoint.tablet {
  .wrapper.hamburger {
    display: none;
  }
}

